
#formulario {
    background-image:$gradient;
    border: 0;
    border-radius: 20px;
}

label {
    color: $colorheadersecond;
    margin-top: 30px;
    margin-bottom: 30px;
}

#formulario__correo{
    margin-bottom: 30px;
}